@import "../../assets/styles/variables";
@import "../../assets/styles/resets";
@import "../../assets//styles/fonts";

.gallery {
  width: 80%;
  margin: 50px auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
}