@import "../../assets/styles/variables";
@import "../../assets/styles/resets";
@import "../../assets//styles/fonts";

.gallery_heading {
  color: $primary;
  font-size: 36px;
  width: 350px;
  margin: 50px auto;
  text-align: center;
}

hr {
  width: 65px;
  height: 4px;
  background-color: $secondary;
  border: none;
  margin: auto;
}